body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-name {
    text-align: center;
}


input[type=text], input[type=password] {
    width: 240px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 240px;
    border-radius: 10px;
}

.create-button {
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    width: 240px;
    text-decoration: none;
}

.registration-link {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration: none;
    color: white;
}