table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px black;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.logout-text {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: right;
}

.products {
    size: A3;
    color: black;
    text-align: center;
}

.create-product {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 1px solid grey;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.create-product:hover {
    background-color: #e7e7e7;
}






